* {
    font-family: 'Syne Mono', monospace;
}

body {
    background: #0d0a0a;
    color: #ececec;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Creepster', cursive;
    color: crimson;
}

.display {
    font-size: 6rem;
}

.subheading {
    color: white;
    margin-top: 12rem;
    font-size: 3rem;
    letter-spacing: 1px;
    font-family: 'Creepster';
}

.hero {
    background: url('../images/skeletons.jpeg') no-repeat;
    background-size: cover;
    background-position-y: center;
    padding: 10rem 0;
    filter: opacity(0.7);
}

.map-section {
    height: 500px;
    overflow: hidden;
}

.map-container-4{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    filter: grayscale(1);

}
.map-container-4 iframe{
    left:0;
    top:0;
    height:50%;
    width:100%;
    position:absolute;
}

.about {
    background: #6b0202;
}

.about, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6 {
    color: white;
}

.about .container {
    display: flex;
    justify-content: space-between;
}

.about .calendar {
    text-align: center;
}

.about .calendar img {
    width: 100%;
}

.about .calendar .caption {
    font-size: 0.8rem;
}

.gallery {
    padding: 3rem;
}
.directions {
    padding: 5rem 0;
}
